
.hero {
  position: relative;
  padding: 8rem 1rem;
  text-align: center;
  color: #111;
  overflow: hidden;
  background: #007acc;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #2a8ff3, #00e1ff, #1ee0ff, #0294f5);
  background-size: 400% 400%;
  animation: moveBG 18s ease-in-out infinite;
  z-index: 0;
  opacity: 0.6;
}


.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
  color: #0b2239;
}

.hero p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  opacity: 0.9;
  position: relative;
  z-index: 2;
}


body[data-theme="dark"] .hero {
  background: #111; 
  color: #e6edf3; 
}

body[data-theme="dark"] .hero::before {

  background: linear-gradient(-45deg, #001f3f, #003366, #00509e, #0074d9);
  background-size: 400% 400%;
  animation: moveBG 18s ease-in-out infinite; 
  opacity: 0.7;
}

body[data-theme="dark"] .hero h1 {
  color: #e6edf3;
}

body[data-theme="dark"] .hero p {
  color: #bbb; 
  opacity: 1;
}

@keyframes moveBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}