
@media screen and (max-width: 768px) {
  .profile-container {
    padding: 10px;
  }

  .profile-image img {
    width: 120px;
    height: 120px;
  }

  .profile-info div {
    font-size: 16px;
  }

  .role-change h3,
  .application-history h3,
  .job-posting h3 {
    font-size: 22px;
  }

  .application-card p {
    font-size: 16px;
  }

  .job-title-options {
    flex-direction: column;
  }

  .job-title-button {
    width: 100% !important;  
    margin-bottom: 10px;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
  }


  .edit-image-button,
  .edit-profile-button {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
  }

  .profile-header h1 {
    font-size: 28px; 
  }
}

.job-title-button,
.edit-image-button,
.edit-profile-button {
  width: auto;
  height: auto;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}


[data-theme="dark"] .job-title-button,
[data-theme="dark"] .edit-image-button,
[data-theme="dark"] .edit-profile-button {
  background-color: #3498db;
  color: white;
  border: none;
}

[data-theme="dark"] .job-title-button:hover,
[data-theme="dark"] .edit-image-button:hover,
[data-theme="dark"] .edit-profile-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}


[data-theme="light"] .job-title-button,
[data-theme="light"] .edit-image-button,
[data-theme="light"] .edit-profile-button {
  background-color: #3498db;
  color: white;
  border: none;
}

[data-theme="light"] .job-title-button:hover,
[data-theme="light"] .edit-image-button:hover,
[data-theme="light"] .edit-profile-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
