profile-details div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 18px;
  margin-bottom: 15px;
}

.profile-details strong {
  color: #34495e;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-wrap {
  position: relative;
}

.edit-profile-button-container {
  margin-top: 20px;
  text-align: center;
}

.edit-profile-button {
  background-color: #3498db;
  color: white;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-profile-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
[data-theme="dark"] strong {
  color: #bbb; 
}
.error-message {
  margin-top: 4px;
  color: #ff4d4f;
  font-size: 0.9rem;
  min-height: 1em;
}