@media (max-width: 420px) {
  .register-container {
    width: 95%;
    padding: 1rem 1rem !important;
    border-radius: 15px;
  }

  .logo {
    display: none !important;
  }

  h2 {
    font-size: 1rem;
  }

  .input-wrap input {
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-size: 0.85rem;
  }

  .input-wrap i {
    left: 7px;
    font-size: 0.95rem;
    top: 15px
  }

  .show-hide-btn {
    right: 8px;
    font-size: 0.75rem;
  }

  .btn-register {
    font-size: 0.85rem;
    padding: 0.6rem;
  }

  .links {
    font-size: 0.75rem;
  }
}
