/* Notification badge (normal/desktop) */
.notification-badge {
  position: absolute;
  top: -1px;
  right: 10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 1rem;
  font-weight: bold;
  min-width: 13px;
  text-align: center;
  z-index: 2;
  line-height: 1.1;
}
